* {
  box-sizing: border-box;
}
body,
h1,
p,
ul,
li,
a {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #36393f;
}
main {
  padding: 0 10vw 0 10vw;
}
a {
  text-decoration: none;
}
footer nav ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: white;
}
footer nav ul li a:link,
a:visited {
  color: white;
}
footer nav ul li a:link:active,
a:visited:active {
  color: white;
}
.discord-message {
  display: flex;
  font-family: "whitneybook";
  color: #dcddde;
  padding: 2vmin;
}
.discord-message:hover {
  background-color: #32353b;
}
.discord-message .text-content .title {
  padding: 0 0 0.5vmin 2vmin;
  font-size: 2.5vmin;
  font-weight: bolder;
}
.discord-message .text-content .text {
  width: 50vw;
  padding: 0 0 0 2vmin;
  font-size: 2.5vmin;
}
.discord-message .text-content b {
  font-size: 3vmin;
}
.discord-message .text-content h1 {
  font-size: 3vmin;
}
.avatar {
  width: 8vmin;
  height: 8vmin;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.discord-message .avatar:hover {
  box-shadow: 0 0 1vmin 0.1vmin black;
  cursor: pointer;
}
.ben-avatar {
  background-image: url("images/ben.png");
}
.ardub-avatar {
  background-image: url("images/ardub.png");
}
.user-avatar {
  background-image: url("images/user.png");
}
footer {
  margin-top: auto;
  font-size: 2.5vmin;
  color: #dcddde;
  background-color: #23272a;
}
footer nav {
  display: flex;
  justify-content: space-evenly;
}
footer nav ul {
  padding: 1vmin;
  display: flex;
  flex-direction: column;
}
footer nav ul li {
  list-style: none;
  padding-top: 0.5vmin;
}
img {
  width: 100%;
}
.dfont {
  font-family: "whitneybook";
}
.medfont {
  font-family: "whitneymedium";
}
.toolbar {
  background-color: #40444b;
}
.center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.center-evenly {
  justify-content: space-evenly !important;
}
.white {
  color: white;
}
.smallright {
  margin-right: 1vmin !important;
}
.row {
  display: flex;
  flex-direction: row;
}
.font-size-title {
  font-size: 4vmin;
}
.font-size-button {
  font-size: 2.5vmin;
}
.font-size-normal {
  font-size: 2vmin;
}
.w-40 {
  width: 40vw;
}
.mediumtop {
  margin-top: 4vmax !important;
}
.medium-padding {
  padding: 2vmax !important;
}
.button {
  padding: 2.5vmin;
  border-radius: 2vmin;
  margin: 2vmin 0 2vmin 0;
  background-color: #5865f2;
}
.button:hover {
  cursor: pointer;
}
.gray-button {
  background-color: #292b2f;
}
.medium-image {
  width: 15vmax;
}
.small-image {
  width: 5vmax;
}
.hello {
  background-image: url(images/banner.png);
  background-position: center;
  background-size: cover;
}
.hello ul {
  list-style: none;
}
.hello ul img {
  width: 2vmin;
}
.hello ul li {
  padding-bottom: 0.5vmin;
}
@font-face {
  font-family: "whitneybook";
  src: url("fonts/whitneybook.otf");
}
@font-face {
  font-family: "whitneymedium";
  src: url("fonts/whitneymedium.otf");
}
@media (max-width: 900px) {
  .font-size-button {
    font-size: 3vmin;
  }
}
